.duration {
  grid-column: 2/2;
  height: 1em;
  border: 1px solid black;
  grid-row: 1;
}
.indicator {
  height: .5em;
  width: .5em;
  grid-row: 1;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(0, 0, 0),
  0 0 4px rgb(0, 0, 0);
}
.pre {
  grid-row: 1;
  grid-column: 1/1;
  border: 1px solid green;
  border-bottom: 0px;
  border-image: 
    linear-gradient(
      to left,
      black,
      rgba(0, 0, 0, 0)
    ) 1 1;
}
.post {
  grid-column: 3/3;
  grid-row: 1;
  border: 1px solid green;
  border-bottom: 0px;
  border-image: 
    linear-gradient(
      to right,
      black,
      rgba(0, 0, 0, 0)
    ) 1 1;
}

div.line {
  display: grid;
  align-items: center;
}
div.maplibregl-marker:hover {
  filter: drop-shadow(0 0 1px #a67dba);
}
span.eventText {
  display: block;
  text-align: center;
  color: black;
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff;
}
.info {
  z-index: 1;
  position: fixed;
  top: 0;
  line-height: 1;
  bottom: auto;
  left: auto;
  right: 1em;
}
.control {
  z-index: 1;
  position: fixed;
  top: auto;
  bottom: 1em;
  left: 1em;
  right: 1em;
}
/* .calendar {
  display: grid;
  grid-template-columns: "10px 2px 100px";
  align-items: center;
  font-size: small;
  z-index: 1;
  position: fixed;
  width: 10em;
  top: 1em;
  left: 1em;
  margin: 0;
} */
div.calendar {
  display: flex;
  position: fixed;
  top:1em;
  left: 1em;
  margin: 0;
  /* border: 1px solid rgba(0,0,0,0.02); */
  border-radius: 0.4cap;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
  z-index: 1;
  padding: 1em .5em;
}
div.calendarDot {
  align-self: baseline;
  border: 2px solid transparent;
  width: 0px;
  height: 0px;
  padding: 4px;
  background-color: #bdbdbd;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  margin: 4px auto;
}
div.calendarSeparator {
  margin: 1px auto;
  width: 2px;
  background-color: #bdbdbd;
  flex-grow: 1;
}
div.calendarName {
  grid-column: 1/1;
  /* padding: 0em 0 1.0em 0; */
  margin: -1em 0 0 0;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
